<!DOCTYPE html>
<html>
<head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="./css/main.css">
</head>
<body>

<div class="sidebar">
    <h2>General</h2>
    <ul>
        <li><a href="http://codenarc.org/">Home</a></li>
        <li><a href="https://sourceforge.net/projects/codenarc/files/">Downloads</a></li>
        <li><a href="https://github.com/CodeNarc">GitHub Project</a></li>
    </ul>
</div>

<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/cv">CV</a></li>
        <li><a href="/blog">Blog</a></li>
    </ul>
</nav>

<div class="container">

    {{ content }}

</div><!-- /.container -->
<footer>
    <ul>
        <li><a href="http://codenarc.sourceforge.net/">http://codenarc.sourceforge.net/</a></li>
    </ul>
</footer>
</body>
</html>